
*{
  margin: 0px;
  padding: 0px;
  font-family: 'Lalezar', cursive;
  
}


.cont{ 
height: 300px;

}

.logoname{
  border: solid 1px rgb(78, 78, 78);
  box-shadow: rgb(10, 10, 10) 4px 4px 4px ;
  padding: 7px;
  background-color: #202020;
  border-radius: 5px;
  
}
.logoname:hover{
  border: solid rgb(252, 255, 250);
}

.toggle{
  margin-top: 15px;
}
.toggle:hover{
  background-color: rgb(71, 150, 78);;
}

.titlesite{
  background-color: rgb(44, 49, 47);
  text-align: center;
  margin-left: 25px;
  margin-top: 9px;
  border-radius: 11px;
  border: solid rgb(73, 82, 65);
  box-shadow: rgb(2, 2, 2) 2px 2px 4px;
}

.titlesite:hover{
  border: solid rgb(108, 224, 7);
  background-color: rgb(11, 49, 2);
}

.imgpass{
  width: 100%;
  height: 375px;
  
  left: 0;
  position:absolute;
  background-blend-mode: darken;
  background: rgba(0, 0, 0, 0.7) repeat url('./image/passb.jpg');
  
  
}






.text{
  text-align: center;
  position:relative;
  margin-top: 1px;
  font-size: 2em;
  color: rgb(250, 250, 250);
  font-weight: bold;
  text-shadow: rgb(187, 214, 210) 1px 1px 2px;
  font-family: 'Courier New', Courier, monospace;
  
}

.video{
  
  /* border: solid 1px rgb(243, 245, 242); */
  padding-right: 25%;
  padding-left: 25%;
  margin-top: 30px;
  border-radius: 10px;
  /* box-shadow: #ffffff 2px 2px 8px ; */
}





.link{
  border-radius: 11;
  text-align: center;
  align-items: center;
  
}


.contsafhe{
  background-color: #ffffff;
  color: rgb(255, 255, 255);
  border-radius: 11px;
  margin-top: 89px;
  box-shadow: rgb(0, 0, 0) 3px 6px 9px;
  
}
.contsafhe:hover{
  border: solid rgb(41, 43, 43) 2px;
  background-color: rgb(207, 207, 187);
}
.contsafhe p{
  color: #202020;
}

.madarek h5{
  margin-top: 5px;
  color: rgb(107, 104, 104);
  text-align: center;
  
}

/* ImageMorabian */

.morabi{
  background-color: #ffffff;
  color: rgb(255, 255, 255);
  border-radius: 11px;
  margin-top: 9px;
  color:rgb(31, 30, 30);
  padding-right: 15px;
  box-shadow: rgb(0, 0, 0) 3px 6px 9px;
  text-align: center;
  padding-top: 22px;
  margin-bottom: 25px;
  padding-bottom: 25px;
  
}
.morabi:hover{
  background-color: rgb(199, 247, 234);
  border: solid rgb(41, 43, 43) 2px;
}
.morabi h5{
  text-align: center;
  color: rgb(19, 18, 18);
  margin-bottom: 33px;
  
}
.morabi img:hover{
  border: #202020 solid 2px;
  box-shadow: #202020 6px 6px 11px;
}

.morabi img{
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin-bottom: 3px;
  box-shadow: #202020 3px 3px 5px;
}

.call{
  background-color: rgb(22, 22, 22);
  padding-top: 5px;
}

.call1{
  text-align: center;
  color: #ffffff;
}

.mp{
  color: rgb(1, 78, 129);
  text-shadow: rgb(250, 4, 4) 1px 1px 3px;
}

.aboutme{
  text-align: center;
  color: #ffffff;
  background-color: rgb(43, 43, 41);
  padding-top: 7px;
  text-align: center;
}

.c1{
  float: left;
  color: rgb(3, 151, 102);
  border-radius: 4px;
  padding: 2px;
  box-shadow: azure 1px 1px 6px;
}

.cc1{
  padding-left: 6px;
  text-align: center;
  float: left;
  border-radius: 3px;
}


.logo:hover{
  box-shadow: brown 4px 4px 9px;
  border: rgb(255, 255, 255) solid 1px;
  border-radius: 50%;
}

.abdollah{
text-decoration: none;
background-color: chartreuse;
border-radius: 3px;
padding: 2px;
color: #202020;
}

.abdollah:hover{
  box-shadow: #7ec50d 1px 1px 6px;
  border: #000000 solid 1px;
  color: #000000;
}